{% include 'breadcrumb.html' %}

<div class="row">
  {% include 'sidenav.html' %}
  <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 pt-3 mt-5 mr-auto {{ bag('alternatives', this.alt, 'direction') }}">
    <div class="col-10">
      {{ this.body }}
    </div>
    <div class="row">
    {% for child in this.children|sort(attribute='key') %}
        <div class="col-sm-6 col-md-6 col-sm-12 col-xl-6 py-3">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title text-primary"><a href="{{ child.path|url(alt=this.alt) }}">{{ _(child.title) }}</a></h4>
                    <p class="card-text">{% if child.subtitle %}{{ _(child.subtitle) }}{% endif %}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    {% if this.path == "/training/code-of-conduct" %}
      {{ render_text("https://gitweb.torproject.org/community/policies.git/plain/code_of_conduct.txt")|safe }}
    {% endif %}

    <div class="card mt-5">
      <ul class="list-group list-group-flush">
        <!--li class="list-group-item"><a><span class="card-text text-muted">Contributors to this page: <a href="#" title="#">cypherpunk</a></span></li-->
        <li class="list-group-item">
          <a href="{{ this.parent|url }}">{{ _("Back to previous page: ") }} {{ this.parent.title }}</a> - <a href="https://gitlab.torproject.org/tpo/web/community/-/edit/main/content{{ this.path }}/contents.lr">{{ _("Edit this page") }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
